body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 250px;
    width: 200px;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  .top-bar {
    background:#3c3a3a; 
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px; 
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    border: 1px solid rgb(17, 20, 21);
  }
  
  h1 {
    font-size: 15px;
    white-space: nowrap;
    margin-left: 50px;
  }
  
  .settings-icon {
    background: none;
    border: none; 
    color: #fff; 
    cursor: pointer; 
    font-size: 13px; 
    margin-right: 47px;
    margin-left: 5px;
    margin-top: 7px;
    padding: 0px;
  }
  
  .progress-circle {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #444;
    border-radius: 50%;
    margin: 10px auto;
  }
  
.progress-circle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background-color: #1b1b1b;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
  
#count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}
  
button.stop {
    background-color: #f44336; 
}

